@model RailwayManagementSystem.Models.Station

@{
    ViewData["Title"] = "Station Details";
}

<h1>Station Details</h1>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Station Name</dt>
        <dd class="col-sm-10">@Model.StationName</dd>

        <dt class="col-sm-2">Latitude</dt>
        <dd class="col-sm-10">@Model.Latitude</dd>

        <dt class="col-sm-2">Longitude</dt>
        <dd class="col-sm-10">@Model.Longitude</dd>

        <dt class="col-sm-2">Station Code</dt>
        <dd class="col-sm-10">@Model.StationCode</dd>

        <dt class="col-sm-2">Station Type</dt>
        <dd class="col-sm-10">@Model.StationType</dd>

        <dt class="col-sm-2">Number of Platforms</dt>
        <dd class="col-sm-10">@Model.NumberOfPlatforms</dd>

        <dt class="col-sm-2">Facilities</dt>
        <dd class="col-sm-10">@Model.Facilities</dd>

        <dt class="col-sm-2">Operational Status</dt>
        <dd class="col-sm-10">@Model.OperationalStatus</dd>

        <dt class="col-sm-2">City</dt>
        <dd class="col-sm-10">@Model.CityID</dd> <!-- Replace CityID with related City Name if needed -->
    </dl>
</div>

<div>
    <a href="@Url.Action("Edit", new { id = Model.StationID })" class="btn btn-primary">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</div>
